@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunitosans/v11/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcecodepro/v18/HI_diYsKILxRpg3hIP6sJ7fM7PqPMcMnZFqUwX28DMyQtMlrTA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto, sans-serif;
}

h1 {
    text-align: left;
    padding: 20px 0;
}

h2 {
    text-align: left;;
}

section {
    border: 2px solid gray;
    padding: 20px 10px;
    margin-bottom: 10px;
}

#blue {
    background-color: #2d5dcc;
}

#pink {
    background-color: #d957d9;
}

#green {
    background-color: #4fe0b0;
}

#beige {
    background-color: #efd9ca;
}

.content {
    margin-top: 10px;
}

.colors .content div {
    width: 320px;
    display: inline-block;
    padding: 10px 0;
    margin-top: 40px;
    text-align: center;
    color: white;
}

.colors p {
    padding: 10px 0;
}

#sourceCode {
    font-family: 'Source Code Pro', monospace;
}

#nunito {
    font-family: 'Nunito Sans', sans-serif;
}

#poppins {
    font-family: 'poppins', sans-serif;
}

.fonts .content div {
    display: inline-block;
    margin: 20px 30px 0 0;
}

.name {
    text-decoration: underline;
    font-size: 20px;
    padding-bottom: 15px;
}

.example {
    padding: 5px 0;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

ul {
    margin-left: 30px;
    padding: 15px;
}
